/* Import Global Tailwind */
@import "tailwindcss";

:root {
  /* --color-primary: #333;
  --color-secondary: #e2e2e2; */
  --color-primary-light: #666;
  --color-secondary-light: #fff;
  
  /* Cores DARK */
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-background: #242424;

  --color-background-rgb: rgba(0, 0, 0, 0.5);

  --color-secondary: rgba(255, 255, 255, 0.87);
  --color-secondary-background: #4c4c4c;
  
  --color-terciary: rgba(255, 255, 255, 0.87);
  --color-terciary-background: #4c4c4c;
  
  /* Cores Default */
  --green--primary--color: #4608ad;
  --green--secondary--color: #561cb3;
  --green--terciary--color: #c4b0e4;
  --green--quartenary--color: #676dbe;
  

  --yellow--primary--color: #d4a820;
  --yellow--secondary--color: linear-gradient(180deg, #FF6E04 -1.75%, #FFC876 100.23%);
  --yellow--terciary--color: #eccd66;
  --yellow--quartenary--color: #f7eac0;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-background);

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Modifiers Tailwind */
}

/* Classes Padrões */
.wrapper-full {
  background-color: red;

  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
    /* Cores LIGHT */
    --color-primary: #213547;
    --color-background: #f2f2f2;

    --color-background-rgb: rgba(255, 255, 255, 0.5);

    --color-secondary: #4c4c4c;
    --color-secondary-background: #fff;


    --color-terciary: rgba(255, 255, 255, 0.87);
    --color-terciary-background:rgba(255, 255, 255, 0.8);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
